<link rel="stylesheet" href="/css/partials/tables/tableContent.css?v=1.3">


<div class="table-content">
  <div class="rank1-container rankDiv" data-playerName="<%= partialData.rank1.id %>">
    <div class="rank1-left">
      <div class="rank1-data-container">
        <div class="rank1-player-name getNamePopup" style="font-weight: 800">
          <%= partialData.rank1.name %>
        </div>
        <div class="rank1-player-name rating-rank1" style="font-weight: 650;">
          <%= partialData.rank1.points %>
          <img
            src="<%= partialData.rank1.countryFlagUrl %>"
            alt="rank1 flag"
            class="rank1-flag-img"
            loading="lazy"
          />
        </div>
        <div class="compare-container openCompareBox" data-playerName="<%= partialData.rank1.name %>">
          <span
            class="comparename"
            style="font-size: 10px; font-weight: 500; color: whitesmoke"
          >COMPARE</span>
          <img class="compareicon" src="/images/compareicon.svg" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="rank1-right">
      <div class="rank1-image-container">
        <% if (type === 'icc') { %>
          <div class="photo-div" style="height: 70%; border-radius: 99px;">
            <img
              src="<%= partialData.rank1.profileUrl %>"
              alt="rank1 picture"
              class="rank1-picture"
              loading="lazy"
            />
          </div>
        <% } else if (type === 'cricrankers') { %>
          <div class="photo-container">
            <div class="photo-div">
              <img
                src="<%= partialData.rank1.profileUrl %>"
                alt="rank1 picture"
                class="rank1-picture"
                loading="lazy"
              />
            </div>
            <div class="label-div">
              <img
                src="/images/goatwhite.webp"
                alt="goat logo"
                class="label-img"
                loading="lazy"
              />
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>

  <div id="rank2-container" class="rank-container odd rankDiv" data-playerName="<%= partialData.rank2.id %>">
    <div class="rank-num"><%= partialData.rank2.rank %></div>
    <div class="profile-pic">
      <img
        src="<%= partialData.rank2.profileUrl %>"
        alt="player image"
        class="profile-img"
        loading="lazy"
      />
    </div>
    <div class="player-info">
      <div class="playername"><%= partialData.rank2.name %></div>
      <div style="display: block; margin-left: 5px">
        <img src="<%= partialData.rank2.countryFlagUrl %>" alt="country-flag" class="country-flag" loading="lazy" />
      </div>
    </div>
    <div class="ratings"><%= partialData.rank2.points %></div>
  </div>

  <div id="rank3-container" class="rank-container even rankDiv" data-playerName="<%= partialData.rank3.id %>">
    <div class="rank-num"><%= partialData.rank3.rank %></div>
    <div class="profile-pic">
      <img src="<%= partialData.rank3.profileUrl %>" alt="player image" class="profile-img" loading="lazy" />
    </div>
    <div class="player-info">
      <div class="playername"><%= partialData.rank3.name %></div>
      <div style="display: block; margin-left: 5px">
        <img src="<%= partialData.rank3.countryFlagUrl %>" alt="country-flag" class="country-flag" loading="lazy" />
      </div>
    </div>
    <div class="ratings"><%= partialData.rank3.points %></div>
  </div>

  <div id="rank4-container" class="rank-container odd rankDiv" data-playerName="<%= partialData.rank4.id %>">
    <div class="rank-num"><%= partialData.rank4.rank %></div>
    <div class="profile-pic">
      <img src="<%= partialData.rank4.profileUrl %>" alt="player image" class="profile-img" loading="lazy" />
    </div>
    <div class="player-info">
      <div class="playername"><%= partialData.rank4.name %></div>
      <div style="display: block; margin-left: 5px">
        <img src="<%= partialData.rank4.countryFlagUrl %>" alt="country-flag" class="country-flag" loading="lazy" />
      </div>
    </div>
    <div class="ratings"><%= partialData.rank4.points %></div>
  </div>

  <div id="rank5-container" class="rank-container even rankDiv" data-playerName="<%= partialData.rank5.id %>">
    <div class="rank-num"><%= partialData.rank5.rank %></div>
    <div class="profile-pic">
      <img src="<%= partialData.rank5.profileUrl %>" alt="player image" class="profile-img" loading="lazy" />
    </div>
    <div class="player-info">
      <div class="playername"><%= partialData.rank5.name %></div>
      <div style="display: block; margin-left: 5px">
        <img src="<%= partialData.rank5.countryFlagUrl %>" alt="country-flag" class="country-flag" loading="lazy" />
      </div>
    </div>
    <div class="ratings"><%= partialData.rank5.points %></div>
  </div>
</div>


