<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="styles">
    <title>CricRankers</title>
    <style>
        
        .body-container{
            width: 100%;
            max-width: 720px;
            height: fit-content;
            margin: 0;
            background-color:transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
         }
         #body{
            width: 100%;
            min-height: 100vh;
            height: fit-content;
            margin: 0;
            margin-top: 55px;
            background-color:#fafafa;
            display: flex;
            flex-direction: column;
            align-items: center;
         }
         #bodyContainer{
            width: 90%;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            flex-grow: 1;
         }
    </style>
    
</head>

 
<body id="body">

     <!--Header-->
     <%- include('../partials/header.ejs') %>
    
     <!-- Drawer -->
     <%- include('../partials/drawer.ejs') %>


     <div id="bodyContainer" class="body-container">
        
        <!-- Heading -->
        <%- include('../partials/textHeading.ejs',{headingHere: aboutPageData.aboutHeading}) %>

        <!-- Text -->
        <%- include('../partials/text.ejs',{textHere: aboutPageData.aboutText}) %>
    

     </div>
   
     <!-- Footer -->
     <%- include('../partials/footer.ejs') %>

</body>
</html>