<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <title>CricRankers</title>
    <link rel="stylesheet" href="/css/pages/profile.css?v=0">
    <link rel="shortcut icon" href="/images/logoBallWhite.webp" type="image/x-icon">
    
</head>

 
<body id="body">

    <!--Header-->
    <%- include('../partials/header.ejs') %>
     
    <!-- Drawer -->
    <%- include('../partials/drawer.ejs') %>

   <div id="bodyContainer" class="body-container">


    <div class="profile-container">

     <!-- Search Bar -->
     <%- include('../partials/searchBar.ejs') %>

     <!-- Profile Banner -->
     <%- include('../partials/profileBanner.ejs',{profileData}) %>

    <!-- Stats -->
     <%- include('../partials/profileStats.ejs') %>

     <!-- Comparision Box -->
     <%- include('../partials/compareBox.ejs')  %>
     
    </div>
  
   </div>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

   

<script src="/js/pages/profile.js?v=2" defer></script>
</body>
</html>