<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <title>CricRankers</title>
    <link rel="stylesheet" href="/css/pages/rankings.css">
    <link rel="shortcut icon" href="/images/logoBallWhite.webp" type="image/x-icon">
</head>

 
<body id="body">

    <!--Header-->
    <%- include('../partials/header.ejs') %>
     
    <!-- Drawer -->
    <%- include('../partials/drawer.ejs') %>

   <div id="bodyContainer" class="body-container">


    <div id="rankings-container">

     <!-- Search Bar -->
     <%- include('../partials/searchBar.ejs') %>


     <!--Table Heading  -->
     <%- include('../partials/tableHeading.ejs',{headingType: rankingPageData.rankingHeading ,headingText:rankingPageData.rankingText}) %>

     <!-- Table Navigation Bar for cricrankers -->
     <%- include('../partials/tableNavCricrankers.ejs') %>

     <!-- Ranking Tables Slider for cricrankers -->
     <%- include('../partials/tableSliderCricrankers.ejs',{rankingsData,type:'cricrankers'}) %>


     <!-- Table 2 @ icc -->

     <!--Table Heading  -->
     <%- include('../partials/tableHeading.ejs',{headingType:rankingPageData.iccRankingHeading,headingText:rankingPageData.iccText}) %>

     <!-- Table Navigation Bar for ICC -->
     <%- include('../partials/tableNavIcc.ejs') %>

     <!-- Ranking Tables Slider for icc-->
     <%- include('../partials/tableSliderIcc.ejs',{rankingsData,type:'icc'}) %>

     <!-- Comparision Box -->
      <%- include('../partials/compareBox.ejs')  %>
    </div>
  
   </div>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

   
     

<script src="/js/pages/rankings.js?v=0.1" defer></script>
</body>
</html>