<link rel="stylesheet" href="/css/partials/profileStats.css">

<div class="profile-stats-container">

    <div class="category-container">
        <%- include('./statsPartials/statsHeader.ejs',{heading:'Format'})%> 
        <%- include('./statsPartials/compareStatsBar.ejs',{playerData1: compareStatsData.profileData1.careerStats.formats.test, playerData2: compareStatsData.profileData2.careerStats.formats.test, label:'Test'})%>
        <%- include('./statsPartials/compareStatsBar.ejs',{playerData1: compareStatsData.profileData1.careerStats.formats.odi, playerData2: compareStatsData.profileData2.careerStats.formats.odi, label:'ODI'})%>
        <%- include('./statsPartials/compareStatsBar.ejs',{playerData1: compareStatsData.profileData1.careerStats.formats.t20, playerData2: compareStatsData.profileData2.careerStats.formats.t20, label:'T20'})%>
    </div>

    <hr class="hr">

    <div class="category-container">
        <%- include('./statsPartials/statsHeader.ejs',{heading:'World Cup'})%> 
        <%- include('./statsPartials/compareStatsBar.ejs',{playerData1: compareStatsData.profileData1.careerStats.worldCups.odi, playerData2: compareStatsData.profileData2.careerStats.worldCups.odi, label:'ODI'})%>
        <%- include('./statsPartials/compareStatsBar.ejs',{playerData1: compareStatsData.profileData1.careerStats.worldCups.t20, playerData2: compareStatsData.profileData2.careerStats.worldCups.t20, label:'T20'})%>
    </div>

    <hr class="hr">

    <div class="category-container">
        <%- include('./statsPartials/statsHeader.ejs',{heading:'Venue'})%> 
        <%- include('./statsPartials/compareStatsBar.ejs',{playerData1: compareStatsData.profileData1.careerStats.venue.home, playerData2: compareStatsData.profileData2.careerStats.venue.home, label:'Home'})%>
        <%- include('./statsPartials/compareStatsBar.ejs',{playerData1: compareStatsData.profileData1.careerStats.venue.away, playerData2: compareStatsData.profileData2.careerStats.venue.away, label:'Away'})%>
    </div>

</div>

<div class="profile-graph-container">

    <%- include('./statsPartials/statsHeader.ejs',{heading:'Career Graph'})%> 

</div>