<link rel="stylesheet" href="/css/partials/profileBanner.css?v=1.2">

<div class="profile-banner-container" data-playerName="<%- profileData.data.id %>">
    <div class="profile-banner-left">
        <div class="profile-data-container">
            <div class="profile-player-name "><%- profileData.data.name %></div>
            <div class="profile-player-career">Career : <%- profileData.data.career %></div>
            <div class="profile-player-country">Country : <%- profileData.data.country %></div>
            <div class="profile-player-rating"><%- profileData.data.points %></div>
            <div class="profile-button-container">
                <div class="compare-container openCompareBox" data-playerName="<%- profileData.data.name %>">
                     <span class="compare-text">COMPARE</span>
                     <img class="compare-icon" src="/images/compareicon.svg">
                </div>
                <div class="share-background" onclick="shareProfile()">
                    <img src="/images/backarrow.svg" class="share-icon">
                </div>
            </div>
        </div>
    </div>

    <div class="profile-banner-right">
        <div class="banner-image-container">
            <div class="photo-container">
                <div class="photo-div">
                  <img
                    src="<%- profileData.data.profileUrl %>"
                    alt="rank1 picture"
                    class="profile-picture"
                    loading="lazy"
                  />
                </div>
                <div class="label-div">
                  <img
                    src="<%- profileData.data.countryFlagUrl %>"
                    alt="flag"
                    class="label-img"
                    loading="lazy"
                  />
                </div>
            </div>
        </div>
    </div>
</div>
