<div class="carousel-container-c">
    <div class="carousel-c" id="carousel-c">
      <div id="ct1" class="carousel-item-c"><%- include('../partials/tables/table.ejs',{tableData: rankingsData.allTimeTestRankingsData}) %></div>
      <div id="ct2" class="carousel-item-c"><%- include('../partials/tables/table.ejs',{tableData: rankingsData.allTimeOdiRankingsData}) %></div>
      <div id="ct3" class="carousel-item-c"><%- include('../partials/tables/table.ejs',{tableData: rankingsData.allTimeT20RankingsData}) %></div>
      <div id="ct4" class="carousel-item-c"><%- include('../partials/tables/table.ejs',{tableData: rankingsData.allTimeTestRankingsData}) %></div>
      <div id="ct5" class="carousel-item-c"><%- include('../partials/tables/table.ejs',{tableData: rankingsData.allTimeTestRankingsData}) %></div>
      <div id="ct6" class="carousel-item-c"><%- include('../partials/tables/table.ejs',{tableData: rankingsData.allTimeTestRankingsData}) %></div>
    </div>
</div>

<link rel="stylesheet" href="/css/partials/tableSliderCricrankers.css">

